@{
	Layout = _"Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

<h1>Clients</h1>
@foreach(Client client in Model)
{
	<li>@Html.ActionLink($"{client.ClientName}", "Details", new { id = client.ClientId })</li>
}

<p>@Html.ActionLink("Add a new client", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>